<!-- <nav>
  <mat-toolbar color="primary">
    <a href="/">
      <span>Security Management App</span>
    </a>
    <span class="navbar-fill">
      <button *ngIf="isLoggedIn"  routerLink="/insight-dashboard">
        Insights
      </button>
      <button *ngIf="isLoggedIn" mat-button routerLink="/rule">Rule</button>
      <button *ngIf="isLoggedIn" mat-button routerLink="/notification-home">
        Notification
      </button>
      <button *ngIf="isLoggedIn" mat-button routerLink="/advanced-settings">
        Advanced Settings
      </button>
      <button *ngIf="isAdmin()" mat-button routerLink="/admin-home">
        Admin
      </button>
    </span>
    <span>
      <button *ngIf="!isLoggedIn" mat-button (click)="login()">Login</button>
      <button *ngIf="isLoggedIn" mat-button (click)="logout()">Logout</button>
    </span>
  </mat-toolbar>
</nav> -->

<nav
  class="navbar navbar-expand-lg navbar-dark bg-dark"
  aria-label="Ninth navbar example"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="#"
      ><i class="bi bi-fingerprint h1 text-align-center"></i> Security App</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#appNavBar"
      aria-controls="navbarsExample07XL"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      class="collapse navbar-collapse"
      id="appNavBar"
      style="margin-top: auto; margin-bottom: 4px"
    >
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link active"
            *ngIf="isLoggedIn"
            routerLink="/insight-dashboard"
            >Insights</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="isLoggedIn" routerLink="/rule">Rules</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="isLoggedIn" routerLink="/notification-home"
            >Notications</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="isLoggedIn" routerLink="/advanced-settings"
            >Advanced Settings</a
          >
        </li>

        <li class="nav-item">
          <a class="nav-link" *ngIf="isAdmin()" routerLink="/admin-home"
            >Admin</a
          >
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
          <a class="nav-link pull-right" *ngIf="!isLoggedIn" (click)="login()">
            Login
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link pull-right" *ngIf="isLoggedIn" (click)="logout()">
            Logout
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<main class="container container-fluid">
  <router-outlet></router-outlet>
  <app-toastr></app-toastr>
</main>
