<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon>fingerprint</mat-icon>
    </button>
    <h1>Security App</h1>
    <span class="menu-spacer"></span>
    <div class="web-links">
      <a mat-button routerLink="/insight-dashboard">Insights</a>
      <a mat-button routerLink="/rule">Rules</a>
      <a mat-button routerLink="/notification-home">Notications</a>
      <a mat-button routerLink="/advanced-settings">Advanced Settings</a>
      <a mat-button routerLink="/admin-home">Admin</a>
      <a mat-button (click)="login()"> Login </a>
      <a mat-button (click)="logout()"> Logout </a>
    </div>

    <button mat-icon-button (click)="expandMobileMenu()" class="mobile-menu-collapse" >
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar-row>
  <mat-toolbar-row [hidden]="!panelOpenState" class="mobile-menu">
    <mat-expansion-panel  class="mobile-navigation" hideToggle [expanded]="panelOpenState">
      <div class="mobile-menu-items">
        <a mat-button routerLink="/insight-dashboard">Insights</a>
        <a mat-button routerLink="/rule">Rules</a>
        <a mat-button routerLink="/notification-home">Notications</a>
        <a mat-button routerLink="/advanced-settings">Advanced Settings</a>
        <a mat-button routerLink="/admin-home">Admin</a>
        <a mat-button (click)="login()"> Login </a>
        <a mat-button (click)="logout()"> Logout </a>
      </div>
    </mat-expansion-panel>
  </mat-toolbar-row>
  
</mat-toolbar>
<main class="container container-fluid">
  <router-outlet></router-outlet>
</main>
