@model EventModel

@{
    ViewData["Title"] = "Create";
}

<h4>Create Event</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FaultId" class="control-label">FaultTypeId</label>                
                <textarea asp-for="FaultId" class="form-control"></textarea>
                <span asp-validation-for="FaultId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="FaultCode" class="control-label"></label>
                <textarea asp-for="FaultCode" class="form-control"></textarea>
                <span asp-validation-for="FaultCode" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="FaultType" class="control-label"></label>
                <textarea asp-for="FaultType" class="form-control"></textarea>
                <span asp-validation-for="FaultType" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DisplayText" class="control-label">Fault Details</label>
                <textarea asp-for="DisplayText" class="form-control"></textarea>
                <span asp-validation-for="DisplayText" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Fault" class="control-label"></label>
                <textarea asp-for="Fault" class="form-control"></textarea>
                <span asp-validation-for="Fault" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Severity" class="control-label"></label>
                <select asp-for="Severity" class="form-control" asp-items="@ViewBag.severity">
                    <option disable selected>Select Severity</option>
                </select>
                @*<textarea asp-for="Severity" class="form-control" />*@
                <span asp-validation-for="Severity" class="text-danger"></span>
            </div>

            &nbsp;
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-success" onclick="javascript:alert('Log created successfully');" />
                &nbsp;or&nbsp;
                <input type="submit" value="Cancel" class="btn btn-danger" asp-controller="Elastic" asp-action="Index" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
