<div class="container container-fuid">
  <div class="row" style="margin-top: 30px">
    <div class="col-sm-4">
      <div class="card" style="width: 18rem">
        <!--  <img src="..." class="card-img-top" alt="..." />-->
        <div class="card-body">
          <h5 class="card-title">Insight 1</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="#" class="btn"
            ><i class="bi bi-arrow-right-circle h3 float-end"></i
          ></a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card" style="width: 18rem">
        <!--  <img src="..." class="card-img-top" alt="..." />-->
        <div class="card-body">
          <h5 class="card-title">Insight 2</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="#" class="btn"
            ><i class="bi bi-arrow-right-circle h3 float-end"></i
          ></a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card" style="width: 18rem">
        <!--  <img src="..." class="card-img-top" alt="..." />-->
        <div class="card-body">
          <h5 class="card-title">Insight 3</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="#" class="btn"
            ><i class="bi bi-arrow-right-circle h3 float-end"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 30px">
    <div class="col-sm-4">
      <div class="card" style="width: 18rem">
        <!--  <img src="..." class="card-img-top" alt="..." />-->
        <div class="card-body">
          <h5 class="card-title">Insight 4</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="#" class="btn"
            ><i class="bi bi-arrow-right-circle h3 float-end"></i
          ></a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card" style="width: 18rem">
        <!--  <img src="..." class="card-img-top" alt="..." />-->
        <div class="card-body">
          <h5 class="card-title">Insight 5</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="#" class="btn"
            ><i class="bi bi-arrow-right-circle h3 float-end"></i
          ></a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card" style="width: 18rem">
        <!--  <img src="..." class="card-img-top" alt="..." />-->
        <div class="card-body">
          <h5 class="card-title">Insight 6</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="#" class="btn"
            ><i class="bi bi-arrow-right-circle h3 float-end"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 30px">
    <div class="col-sm-4">
      <div class="card" style="width: 18rem">
        <!--  <img src="..." class="card-img-top" alt="..." />-->
        <div class="card-body">
          <h5 class="card-title">Insight 7</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="#" class="btn"
            ><i class="bi bi-arrow-right-circle h3 float-end"></i
          ></a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card" style="width: 18rem">
        <!--  <img src="..." class="card-img-top" alt="..." />-->
        <div class="card-body">
          <h5 class="card-title">Insight 8</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="#" class="btn"
            ><i class="bi bi-arrow-right-circle h3 float-end"></i
          ></a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card" style="width: 18rem">
        <!--  <img src="..." class="card-img-top" alt="..." />-->
        <div class="card-body">
          <h5 class="card-title">Insight 9</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="#" class="btn"
            ><i class="bi bi-arrow-right-circle h3 float-end"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</div>
