@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
        <p>
        <h4>Welcome to Security System PoC</h4>
    </p>
    &nbsp;
    &nbsp;
    <h7>
    <p> Features:</p>
    </h7>     
       Simulate device's logs
      </br>
       Define rules to generate alert
                   
    
</div>
<label id="msglabel"></label>
<script src="~/js/signalr.js"></script>
<script src="~/js/Notification.js"></script>
